@media screen and ( max-width: 1260px )
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem
@media screen and ( max-width: 992px )
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0

@media screen and ( max-width: 760px )
    .section
        &__subtitle
            font-size: 1.07rem
    .row
        flex-direction: column
        align-items: center
    .col-50
        width: 100%
    .section-title__word
        &::after
            display: none       
    .swiper-slide__image
        margin-top: 2.36rem
        width: 340px
        height: 202px
    
    .projects
        padding-bottom: 89rem
    
    .control
        &__section-title
            margin-top: -89rem
        &__video
            max-width:  340px
            min-height: 207px
        &__text
            font-size: 1rem
            color: $light
        &__input-group
            flex-basis: 100%
            margin-bottom: 51px
        &__label
            color: rgba(255, 255, 255, 0.5)
        &__policy
            margin: 0
            order: 0
            &-label
                justify-content: start
                margin-bottom: 62px
                color: $light
        &__button
            padding: 20px 124px
        &__input
            &::placeholder
                color: $light
    .types
        &__card
            margin-bottom: 5rem
    .card
        &__text
            margin-left: 0
        &--min
            display: none
    .footer
        &__adress
            font-size: 1.28rem
        &__map
            text-align: center
            width: 100%
            margin-left: 0
            margin-right: 0

@media screen and ( max-width: 570px )
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
@media screen and ( max-height: 520px )
    .hero
        &__scroll-down
            display: none
    

        

    
    
    